<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Trace"
	  internalLogFile="c:\temp\internalLog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target name="database" xsi:type="Database" dbProvider="System.Data.SqlClient" connectionString="Server=(localdb)\MSSQLLocalDB;Database=ToyLogger1;Integrated Security=True;">
			<layout xsi:type="JsonLayout" includeAllProperties="false" includeMdc="false">
				<attribute name="details" encode="false" layout="${event-properties-masker}" />
			</layout>
			<commandText>
				INSERT INTO [dbo].[AppLog] (MachineName, LoggedOn, Level, Message, Template, Logger, Callsite, Exception, Properties) VALUES (@MachineName, CAST(@Logged as datetime2), @Level, @Message, SUBSTRING(@Raw, 1, 500), @Logger, @Callsite, @Exception, @Properties)
			</commandText>
			<parameter name="@MachineName" layout="${machinename}" />
			<parameter name="@Logged" layout="${date}" dbtype="DateTime" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Raw" layout="${message:raw=true}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Callsite" layout="${callsite}" />
			<parameter name="@Exception" layout="${exception:tostring}" />
			<parameter name="@Properties" layout="${all-event-properties}" />
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" maxlevel="off" final="true" />
		<logger name="*" minlevel="Info" writeTo="database" />
	</rules>
</nlog>